* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #FFF;
  background: #080808;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100vh;
}

.header-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;

 padding: 10px 5%;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {  
  display: flex;
}

nav ul li {
  display: inline-block;  
  margin: 10px 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #daa520;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;  
}

.welcome {
  display: flex;
  font-size: larger;
  justify-content: space-around;
  padding: 0 15rem;
  
  margin-top: 5%;
}

.welcome article {
  margin-top: 10%;
}

.welcome h1 {
  font-size: 60px;
  margin-top: 10px;
}

.welcome h2 {
  color: #daa520;
}

.welcome p {
  font-size: larger;
  margin-top: 15px;
}

.welcome img {
  width: 38rem;
}

/* --- about --- */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container > div {
  display: flex;
  margin-top: 5rem;
}

.about-text article {
  font-size: 18px;
  text-align: justify;

  margin-right: 50px;
  padding: 2rem;
  width: 40rem;

  border: solid 1px #FFF;
  border-radius: 20px;
}

.about-skills {
  border: solid 1px #FFF;
  border-radius: 20px;
  padding: 2rem;
  width: 40rem;
}

.about-skills h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.about-skills li {
  font-size: large;
  margin-left: 2rem;
}

.about-skills h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-skills-img-container {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 1.5rem;
}

.about-skills-img-container img{
  height: 2rem;
  width: 8rem;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60%;

  margin-top: 5rem;
}

.portfolio-container h1 {
  margin-bottom: 5rem;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
}

.portfolio-projects a {
  color: #FFF;
  text-decoration: none;
}

.portfolio-projects section {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 1px #FFF;
  border-radius: 20px;
  
  margin: 2rem 0;
  padding: 2rem;
  width: 40rem;
}

.portfolio-projects h4 {
  margin: 1rem 0;
}

.project-img {
  height: 20rem;
  width: 30rem;
  opacity: 0.5;
}

.project-img:hover {
  opacity: 1;
}