* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #FFF;
  background: #080808;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

#header-container header{
 display: flex;
 align-items: center;
 justify-content: space-between;
  
 padding: 10px 5%;
 width: 100%;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {  
  display: flex;
}

nav ul li {
  display: inline-block;  
  margin: 10px 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #daa520;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;  
}

.welcome {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 8rem;
  
  width: 100%;
}

.title {
  margin-top: 5rem;
}

.title h1 {
  font-size: 28px;
  margin: 5rem 10rem 0 0;
}

.title strong {
  font-size: 60px;
}


.title span {
  color: #daa520;
}

.title p {
  font-size: 28px;
}

.welcome img {
  width: 30rem;
}

.navigation-welcome {
  display: flex;
  justify-content: center;
  width: 10%;
}

.navigation-welcome a {
  border: solid 1px #FFF;
  border-radius: 100%;

  padding: 2rem;
  
  text-decoration: none;
  color: #FFF;
}

.navigation-welcome a:hover {
  background-color: #FFF;
  color: black;
}



#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#about-container > div {
  display: flex;
  margin-top: 5rem;
}

.about-text article {
  text-align: justify;

  margin-right: 50px;
  padding: 2rem;
  width: 40rem;

  border: solid 1px #FFF;
  border-radius: 20px;
}

.about-text p {
  font-size: 18px;
}

.about-text h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.about-skills {
  border: solid 1px #FFF;
  border-radius: 20px;
  padding: 2rem;
  width: 40rem;
}

.about-skills h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.about-skills li {
  font-size: large;
  margin-left: 2rem;
}

.about-skills h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-skills-img-container {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 1.5rem;
}

.about-skills-img-container img{
  height: 2rem;
  width: 8rem;
}




#portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


  height: 100vh;
  width: 100%;
}

.portfolio-projects {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;

  width: 100%;  
}

.portfolio-projects a {
  color: #FFF;
  text-decoration: none;
}

.portfolio-projects section {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 1px #FFF;
  border-radius: 20px;
  
  margin: 2rem 0;
  padding: 2rem;
  width: 40rem;
}

.portfolio-projects h4 {
  margin: 1rem 0;
}

.project-img {
  height: 20rem;
  width: 30rem;
  opacity: 0.3;
}

.project-img:hover {
  opacity: 1;
}

/* ---- contact ---- */

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  margin-top: 5rem;
}

#contact-container h1 {
  margin-bottom: 2rem;
}

#contact-container p {
  font-size: 1.3rem;
}

.links-container {
  display: flex;
  justify-content: space-between;
  
  padding: 2rem;
  width: 40rem;
}

#contact-container section {
  padding: 2rem;
}

.links {
  color: #FFF;
  text-decoration: none;
}

.links i {
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;

  margin: 3rem 0;
  width: 25rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

form button {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

#form-sent {
  font-size: 18px;
}

.download {
  background-color: #daa520;
  padding: 1rem;
  color: black;
  border: none;
  border-radius: 5px;
  text-decoration: none;

  margin-top: 2rem;
  margin-bottom: 5rem;
}

footer {
  font-size: 16px;
  text-align: center;
  
  margin-top: 10rem;
  padding-right: 1rem;
  width: 100%;
}




.navigation {
  display: flex;
  justify-content: space-between;

  width: 10%;
}

.navigation a {
  border: solid 1px #FFF;
  border-radius: 100%;

  padding: 2rem;

  text-decoration: none;
  color: #FFF;
}

.navigation a:hover {
  background-color: #FFF;
  color: black;
}

/* ---- small screens ---- */
@media (max-width: 1800px) {
  html {
    font-size: 85%;
  }

  .welcome {
    margin-bottom: 3rem;
  }

  .title h1 {
    font-size: 25px;
  }

  .title strong {
    font-size: 32px;
  }

  .title p {
    font-size: 20px;
  }

  .welcome img {
    margin-top: 30px;
    width: 30rem;
  }
  
  #about-container {
    height: 90vh;
  }
  
  #about-container > div {
    margin-top: 2rem;
  }
  
  .about-text p {
    font-size: 16px;
  }
  
  .about-skills li {
    font-size: 15px;
    margin-left: 2rem;
  }
  
  .about-skills h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }
  
  #portfolio-container {
    height: 210vh;
  }
  
  .portfolio-projects {
    flex-direction: column;
    align-items: center;
  }
  
  .portfolio-projects section {
    height: 30rem;
    margin: 1rem 0;
  }
  
  .project-img {
    height: 10rem;
    width: 20rem;
  }

  #contact-container {
    height: 120vh;
  }
  
  .links-container {
    padding: 0rem;
    width: 23rem;
  }
  
  .links i {
    font-size: 35px;
    margin: 1.5rem 0;
  }
  
  form {
    height: 18rem;
  }

  .download {
    margin-top: 0.5rem;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    
    width: 20%;
  }
}

@media (max-width: 1600px) {
  #header-container {
    height: 130vh;

  }

  .welcome {
    margin-top: 0;
    margin-bottom: 7rem;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  #about-container {
    height: 180vh;
  }
  
  .about-text article {
    margin: 2rem 0;
  }
  
  .about-skills {
    margin-bottom: 2rem;
  }
  
  #portfolio-container {
    height: 250vh;
  }
  
  .portfolio-projects {
    flex-direction: column;
    align-items: center;
  }
    
  .navigation {
    justify-content: space-evenly;
    width: 30%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 85%;
  }

  #header-container {
    height: 150vh;
  }

  .about-text p {
    font-size: 16px;
  }

  #portfolio-container {
    height: 300vh;
    margin-top: 5rem;
  }

  #contact-container {
    height: 180vh;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 85%;
  }

  #header-container {
    height: 90vh;
  }

  #header-container nav a {
    font-size: 14px;
  }
  nav ul li {
    margin: 0 0 5px 50px;
  }

  .welcome {
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    padding: 0;
  }

  .title h1 {
    font-size: 20px;
  }

  .title p {
    font-size: 16px;
  }

  .title img{
    margin-top: 30px;
    width: 20rem;
  }

  .navigation-welcome a {
    padding: 1.5rem;
  }

  #about-container {
    height: 140vh;
  }
  
  .about {
    flex-direction: column;
    align-items: center;
  }

  #about-container > h1 {
    font-size: 20px;
  }
  
  .about-text article {
    font-size: 15px;
  
    margin-right: 0rem;
    margin-bottom: 2rem;

    width: 23rem;
  }
  
  .about-skills {
    width: 23rem;
    font-size: 12px;
  }
  
  .about-skills li {
    font-size: 14px;
  }
  
  .about-skills-img-container img{
    height: 1.7rem;
    width: 6rem;
  }

  #portfolio-container {
    height: 200vh;
  }
  
  .portfolio-projects {
    flex-direction: column;
    align-items: center;
  }
  
  .portfolio-projects section {
    height: 42rem;
    width: 23rem;
  }
  
  .portfolio-projects h4 {
    margin: 1rem 0;
  }
  
  .project-img {
    height: 18rem;
    width: 20rem;
    opacity: 1;
  }

  #contact-container {
    height: 100vh;
    margin-top: 0;
  }
  
  #contact-container h1 {
    font-size: 20px;
  }
  
  #contact-container p {
    font-size: 1rem;
    text-align: center;
  }
  
  .links-container {
    padding: 0rem;
    width: 23rem;
  }
  
  .links i {
    font-size: 40px;
  }
  
  form {
    width: 23rem;
  }
  
  footer {
    font-size: 15px;
    margin-top: 5rem;
  }
  
  .navigation {
    justify-content: space-evenly;
    width: 80%;
  }
  
  .navigation a { 
    padding: 1.5rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 85%;
  }

  #header-container {
    height: 110vh;
  }
  
  .welcome {
    height: 35rem;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .title h1 {
    font-size: 18px;
    margin-left: 13rem;
    width: 15rem;
  }

  .title strong {
    font-size: 20px;
  }

  #about-container {
    height: 180vh;
  }
  
  #portfolio-container {
    height: 280vh;
    margin-top: 2rem;
  }
  
  #contact-container {
    height: 120vh;
  }
}

